---
import BaseLayout from "../../shared/layouts/BaseLayout.astro";
// import Navbar from "@/components/Navbar.astro";
// import Footer from "@/components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<BaseLayout title={title}>
  <!-- <Navbar /> -->

  <main class="max-w-7xl mx-auto px-6 space-y-24">
    <slot />
  </main>

  <!-- <Footer /> -->
</BaseLayout>
