---
export const prerender = false;

import BlogLayout from "../features/blog/BlogLayout.astro";
import ContentEmpty from "../features/blog/components/ContentEmpty.astro"
import Card from "../features/blog/components/Card.astro";
import Pagination from "../shared/components/Pagination.astro";

import { getHeadlinePost, getPosts, getPostCount } from "../features/blog/sanity/queries";
import CardHeadline from "../features/blog/components/CardHeadline.astro";
const page = Number(Astro.url.searchParams.get("page") || 1);
const count = await getPostCount();
const totalPages = count <= 3 ? 1: Math.ceil((count - 3) / 6) + 1;

const posts = await getPosts(page);
const headlines  = await getHeadlinePost(page);
const hasHeadline = !!headlines;
const hasPosts = posts.length > 0;
---

<BlogLayout title="Blog">
    <div class="flex flex-col justify-center py-24 px-16">
        <!-- Title -->
        <div class="mb-14">
             <h1 class="text-4xl lg:text-5xl font-bold leading-tight tracking-tight mb-4">Blog & Update
                <span class="text-brand-primary italic">Relawan</span>
            </h1>
            <h2 class="text-lg lg:text-xl text-gray-500">
                Ikuti perkembangan terbaru misi kemanusiaan dan penyaluran bantuan kami.
            </h2>
        </div>

        <!-- HEADLINE -->
        {hasHeadline && (
            <div class="mb-16">
                <CardHeadline post={headlines} />
            </div>
        )}

        <!-- Posts -->
        {hasPosts && (
            <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mb-8">
                {posts.map((post) => (
                    <Card post={post} />
                ))}
            </section>
        )}

        <!-- Empty State -->
        {!hasHeadline && !hasPosts && <ContentEmpty/>}

        <!-- Pagination -->
        {(hasHeadline || hasPosts) && <Pagination page={page} totalPages={totalPages}/>}
    </div>
</BlogLayout>
