---
// import Card from "../components/Card.astro";
import MarketingLayout from "../features/marketing/MarketingLayout.astro";
// import { getPosts } from "../features/blog/sanity/queries";
import Hero from "../features/marketing/components/Hero.astro";
import About from "../features/marketing/components/About.astro";
import Donation from "../features/marketing/components/Donation.astro";
import CTA from "../features/marketing/components/CTA.astro";

// const posts = await getPosts();
---

<MarketingLayout title="Amanah Satria Indonesia">
  <Hero/>
  <About/>
  <Donation/>
  <CTA/>
</MarketingLayout>

<!-- <section>
  {posts.length ? posts.map((post) => <Card post={post} />) : <Welcome />}
</section>   -->
