---
// import Card from "../components/Card.astro";
import MarketingLayout from "../features/marketing/MarketingLayout.astro";
import { getPosts } from "../features/blog/sanity/queries";
import Navbar from "../shared/components/Navbar.astro";

const posts = await getPosts();
---

<MarketingLayout title="Amanah Satria Indonesia">
  <Navbar/>
  <section>
    <!-- {posts.length ? posts.map((post) => <Card post={post} />) : <Welcome />} -->
  </section>  
</MarketingLayout>
