---
import anterajaLogo from "../../../shared/assets/AnterAjaLogo.png";
import { Image } from "astro:assets";
---

<section id="about" class="mt-8 p-8">
    <!-- Overview -->
    <div class="flex flex-col items-center text-center">
        <h1 class="text-2xl font-bold text-brand-secondary mb-3">SIAPA KAMI</h1>
        <h2 class="text-5xl font-bold mb-12">Jalur Satria <span class="italic text-brand-primary">AnterAja</span> Berbagi Kasih</h2>
        <Image src={anterajaLogo} alt="AnterAja Logo" class="w-48 h-fit mb-8"/>
        <p class="text-lg text-gray-800 w-[70%]">
            <strong>Yayasan Amanah Satria Indonesia</strong> merupakan divisi sosial dari <span class="text-brand-primary font-semibold">AnterAja</span>, perusahaan logistik di Indonesia yang berkomitmen menghadirkan kontribusi nyata bagi masyarakat melalui berbagai program sosial dan kemanusiaan.
            <br><br>Sebagai bagian dari inisiatif tanggung jawab sosial perusahaan (CSR), Yayasan Amanah Satria Indonesia menjalankan berbagai kegiatan yang berfokus pada bantuan sosial, pemberdayaan masyarakat, pendidikan, serta aksi kemanusiaan di berbagai daerah di Indonesia. Melalui kolaborasi dengan komunitas, relawan, dan mitra strategis, yayasan ini berupaya menciptakan dampak sosial yang berkelanjutan dan inklusif.
            <br><br>Dengan mengedepankan nilai kepedulian, gotong royong, dan kebermanfaatan, Yayasan Amanah Satria Indonesia menjadi wadah bagi <span class="text-brand-primary font-semibold">AnterAja</span> untuk terus berkontribusi dalam meningkatkan kesejahteraan masyarakat serta mendukung pembangunan sosial di Indonesia.
        </p>
    </div>
</section>
