---
import logo from "../../../shared/assets/Logo.jpeg";
import { Image } from "astro:assets";
---

<section id="about" class="mt-8 p-8">
    <!-- Overview -->
    <div class="flex flex-col items-center text-center">
        <h1 class="text-2xl font-bold text-brand-secondary mb-3 fade-section-right opacity-0">SIAPA KAMI</h1>
        <h2 class="text-5xl font-bold mb-12 fade-section-left opacity-0">Menghantarkan Harapan ke Seluruh <span class="italic text-brand-primary">Indonesia</span></h2>
        <Image src={logo} alt="Logo" class="w-48 h-fit mb-8 fade-section-right opacity-0"/>
        <p class="text-lg text-gray-800 w-[70%] fade-section-left opacity-0">
            <strong>Yayasan Amanah Satria Indonesia (YASI)</strong> merupakan yayasan sosial yang didirikan pada tahun <strong>2025</strong> dengan fokus pada kegiatan kemanusiaan dan pemberdayaan masyarakat di berbagai wilayah Indonesia.
            <br><br>
            Dalam perjalanannya, YASI didukung oleh berbagai pihak, termasuk <span class="text-brand-primary font-semibold">AnterAja</span> sebagai salah satu mitra pendukung, dalam upaya menyalurkan bantuan secara lebih luas, cepat, dan tepat sasaran.
            <br><br>
            YASI menjalankan berbagai program yang mencakup bantuan sosial, pendidikan, pemberdayaan masyarakat, serta aksi kemanusiaan. Beberapa kegiatan yang telah dilakukan antara lain kunjungan ke Panti Asuhan Al Kautsar di Kota Batu, Malang (Jawa Timur), Panti Asuhan Gotong Royong di Yogyakarta, serta penyaluran bantuan bagi korban bencana banjir dan longsor di Aceh.
            <br><br>
            Melalui kolaborasi dengan komunitas, relawan, dan mitra strategis, YASI berkomitmen untuk menciptakan dampak sosial yang berkelanjutan dan inklusif. Dengan mengedepankan nilai kepedulian, gotong royong, dan kebermanfaatan, YASI hadir sebagai wadah untuk menggerakkan kebaikan serta meningkatkan kesejahteraan masyarakat Indonesia.
        </p>
    </div>
</section>
