---
import { Download } from "lucide-astro";
---

<section class="mt-16 py-20 px-8 bg-brand-secondary text-white">
  <div class="max-w-4xl mx-auto text-center">

    <h2 class="text-3xl md:text-4xl font-bold mb-4 fade-section-right opacity-0">
      Bersama Kita Ringankan Beban Mereka
    </h2>

    <!-- Desc -->
    <p class="text-white/80 text-lg mb-8 fade-section-left opacity-0">
        Setiap donasi yang Anda berikan membantu penyediaan bantuan darurat
        bagi korban banjir di Sumatera. Sekecil apapun kontribusi Anda,
        pastilah sangat berarti bagi mereka.
    </p>    

    <!-- Buttons -->
    <div class="flex flex-col sm:flex-row gap-4 justify-center fade-section-right opacity-0">
      <a href="#donation" class="px-8 py-4 bg-white text-brand-secondary font-bold rounded-xl hover:scale-105 transition duration-300">
        Donasi Sekarang
      </a>
      <a href="/assets/PosterBanjirSumatera.jpeg" 
         download="poster-yami-banjir-sumatera.jpeg"
         class="px-8 py-4 border border-white/40 rounded-xl hover:bg-white/10 transition duration-300">
        <div class="inline-flex items-center gap-4">
          <Download/>
          <span>Pelajari Lebih Lanjut</span>
        </div>
      </a>
    </div>
    <p class="text-sm text-white/60 mt-6 fade-section-left opacity-0">
      Program sosial resmi dilaksanakan oleh Yayasan Amanah Satria Indonesia sebagai divisi sosial <strong>AnterAja</strong>
    </p>
  </div>
</section>
