---
const { page, totalPages } = Astro.props;
---

<div class="flex space-x-1 justify-center">
  <!-- Prev -->
  <a href={`?page=${page - 1}`} data-astro-reload>
    <button disabled={page === 1} class="ml-2 rounded-md border border-slate-300 py-2 px-3 text-sm transition-all shadow-sm
      disabled:pointer-events-none disabled:opacity-50
      text-slate-600 hover:text-white hover:bg-brand-primary hover:border-brand-primary">
      Prev
    </button>
  </a>

  <!-- Numbers -->
  {Array.from({ length: totalPages }, (_, i) => i + 1).map((p) => (
    <a href={`?page=${p}`} data-astro-reload>
      <button class={`ml-2 min-w-9 rounded-md py-2 px-3 text-sm transition-all shadow-md
        ${p === page
          ? "bg-brand-primary text-white border-transparent"
          : "border border-slate-300 text-slate-600 hover:text-white hover:bg-brand-primary hover:border-brand-primary"
        }`}>
        {p}
      </button>
    </a>
  ))}

  <!-- Next -->
  <a href={`?page=${page + 1}`} data-astro-reload>
    <button disabled={page === totalPages} class="ml-2 rounded-md border border-slate-300 py-2 px-3 text-sm transition-all shadow-sm
      disabled:pointer-events-none disabled:opacity-50
      text-slate-600 hover:text-white hover:bg-brand-primary hover:border-brand-primary">
      Next
    </button>
  </a>
</div>
