<div class="flex space-x-1 justify-center">
  <button class="rounded-md border border-slate-300 py-2 px-3 text-center text-sm transition-all shadow-sm hover:shadow-lg text-slate-600 hover:text-white hover:bg-brand-primary hover:border-brand-primary focus:text-white focus:bg-brand-primary focus:border-brand-primary active:border-brand-primary active:text-white active:bg-brand-primary disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ml-2">
      Prev
  </button>
  <button class="min-w-9 rounded-md bg-brand-primary py-2 px-3 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-brand-primary focus:shadow-none active:bg-brand-primary hover:bg-brand-primary active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ml-2">
      1
  </button>
  <button class="min-w-9 rounded-md border border-slate-300 py-2 px-3 text-center text-sm transition-all shadow-sm hover:shadow-lg text-slate-600 hover:text-white hover:bg-brand-primary hover:border-brand-primary focus:text-white focus:bg-brand-primary focus:border-brand-primary active:border-brand-primary active:text-white active:bg-brand-primary disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ml-2">
      2
  </button>
  <button class="min-w-9 rounded-md border border-slate-300 py-2 px-3 text-center text-sm transition-all shadow-sm hover:shadow-lg text-slate-600 hover:text-white hover:bg-brand-primary hover:border-brand-primary focus:text-white focus:bg-brand-primary focus:border-brand-primary active:border-brand-primary active:text-white active:bg-brand-primary disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ml-2">
      3
  </button>
  <button class="min-w-9 rounded-md border border-slate-300 py-2 px-3 text-center text-sm transition-all shadow-sm hover:shadow-lg text-slate-600 hover:text-white hover:bg-brand-primary hover:border-brand-primary focus:text-white focus:bg-brand-primary focus:border-brand-primary active:border-brand-primary active:text-white active:bg-brand-primary disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ml-2">
      Next
  </button>
</div>
